Options +FollowSymLinks
RewriteEngine on


RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z]{1,3})\/([a-z_]+)\/([A-Z­a-z­0-9­-]+)$ index.php?lang=$1&page=$2&id=$3 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z]{1,3})\/([a-z_]+)\/$ index.php?lang=$1&page=$2 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z]{1,3})\/([a-z_]+)$ index.php?lang=$1&page=$2 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z]{1,3})\/([0-9­])$ index.php?lang=$1&id=$2 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z]{1,3})\/$ index.php?lang=$1 [L]	

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z_]+)\/([A-Z­a-z­0-9­-]+)\/$ index.php?lang=fr&page=$1&id=$2 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z_]+)\/([A-Z­a-z­0-9­-]+)$ index.php?lang=fr&page=$1&id=$2 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z_]+)\/$ index.php?lang=fr&page=$1 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([a-z_]+)$ index.php?lang=fr&page=$1 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^([0-9­])$ index.php?lang=fr&id=$1 [L]

RewriteCond %{REQUEST_URI} !^/?(mypublisher)/
RewriteRule ^\/$ index.php?lang=fr [L]

