RewriteEngine on

RewriteRule ^show\/([0-9]+)\/([0-9]+)\/([­A-Z­a-z­0-9­-]+)\.([a-zA-Z]+)$ index.php?w=$1&h=$2&src=full/$3.$4 [L]

RewriteRule ^show\/([0-9]+)\/([­A-Z­a-z­0-9­-]+)\.([a-zA-Z]+)$ index.php?w=$1&src=full/$2.$3 [L]


